# Configuration file

##########################################################################################################
# biomes
#--------------------------------------------------------------------------------------------------------#
# Manually change the environmental properties of each biome
##########################################################################################################

biomes {

    "Gravel Beach" {
        I:"01.Biome ID"=141
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=salty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=8.75
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    Shrubland {
        I:"01.Biome ID"=142
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=25.5
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Snowy Gravel Beach" {
        I:"01.Biome ID"=143
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=salty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=1.75
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Rocky Steppe" {
        I:"01.Biome ID"=144
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=7.0
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Tropical Shrubland" {
        I:"01.Biome ID"=145
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=35.75
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    Tundra {
        I:"01.Biome ID"=146
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=cold

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=1.75
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    Volcano {
        I:"01.Biome ID"=147
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=75.0
        D:"05.Temp Rate"=0.05
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=1.0
        D:"08.Air Quality Rate"=-0.5
    }

    Woodland {
        I:"01.Biome ID"=148
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=24.5
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

}


